# java project
*.class
*.jar

# gradle directories
build/
!gradle/wrapper/*.jar
**/build/
**/.gradle/

# IntelliJ IDEA files
*.ipr
*.iml
*.iws
out/
.idea/

# eclipse files
.classpath
.project
.settings/

# mac files
.DS_Store

# vim
*~


