# java project
*.class
*.jar

# gradle directories
build/
!gradle-wrapper.jar
**/build/
**/.gradle/

# IntelliJ IDEA files
*.ipr
*.iml
*.iws
out/
.idea/

# eclipse files
.classpath
.project
.settings/

# mac files
.DS_Store

# vim
*~

# training directory
java-projects/init-project/groovy-lib/**/*
!java-projects/init-project/groovy-lib/.gitkeep
java-projects/init-project/java-lib/**/*
!java-projects/init-project/java-lib/.gitkeep
java-projects/init-project/no-type/**/*
!java-projects/init-project/no-type/.gitkeep
java-projects/init-project/scala-lib/**/*
!java-projects/init-project/scala-lib/.gitkeep

# to do management
todo/

# exercise answer file
answer.gradle

# properties file for sample project
codic.properties
yahoo.properties
